<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tmf3jr.android.images.julia"
    android:versionCode="1"
    android:versionName="1.0" android:installLocation="auto">

    <uses-sdk android:minSdkVersion="14" android:targetSdkVersion="14"/>

    <application
        android:icon="@drawable/icon_julia"
        android:label="@string/app_name"
         android:hardwareAccelerated="true" android:hasCode="true">
        
        <activity
            android:label="@string/app_name"
            android:name="JuliaRendererActivity" android:multiprocess="true">
            <intent-filter android:label="@string/app_name" android:icon="@drawable/icon_julia">
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:label="@string/app_name" android:icon="@drawable/icon_julia">
                <action android:name="android.intent.action.ALL_APPS"/>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            </activity>
        <activity android:name="JuliaRendererPreferenceActivity"></activity>
    </application>

</manifest>